%hr.space
%hr.space

.span-16
  %h2{ :class => @tests.empty? ? 'hide' : nil }
    %a{ :href => '#' } New A/B Test
  .span-15.first
    #new_test.box{ :class => @tests.empty? ? nil : 'hide' }
      %form{ :action => '/tests/create', :method => 'post', :class => 'clearfix' }
        .span-7
          %label{ :for => 'test[name]' } Test name
          %br/
          %input{ :type => 'text', :name => 'test[name]' }
        .span-7.last
          %label{ :for => 'test[ticket_url]' } Ticket URL
          %br/
          %input{ :type => 'text', :name => 'test[ticket_url]' }
        %hr.space
        .span-10
          %label{ :for => 'test[variants]' }
            Variant names
            (<a class="tooltip" title="variant_names">more info</a>)
          %br/
          %input{ :type => 'text', :name => 'test[variants]' }
        .buttons.span-4.last
          %input{ :type => 'submit', :value => 'Create', :class => 'submit' }
          %input{ :type => 'submit', :value => 'Cancel', :class => 'cancel' }

#search.span-8.last
  - unless @tests.empty?
    %form
      %input.span-5{ :type => 'text' }/
      %input{ :type => 'submit', :value => 'Search' }

- if @success || @error
  .span-23.first
    - if @success
      .success= @success
    - if @error
      .error= @error

%hr.space

- @tests.each_with_index do |test, index|
  .table.span-8{ :class => table_class(test, index) }[test]
    .data.hide
      = table_json(test)
    .title.clearfix
      .span-5.search
        %h3= test.name
      .span-1.ticket
        %a{ :href => test.ticket_url } Ticket
      .span-1.edit
        %a{ :href => '#' } Edit
      .span-1.last x
    .rows
      .header.clearfix
        .span-2 Name
        .span-3.tooltip{ :title => 'visits_suggested' } Visits/Suggested
        .span-1.tooltip{ :title => 'conf' } Conf
        .span-1.last.tooltip{ :title => 'rate' } Rate
      - test.sorted_variants.each do |variant|
        .row.clearfix.search[variant]
          .span-2
            - if variant.control?
              %strong= variant.name
            - else
              = variant.name
          .span-3
            %span{ :class => variant.suggested_visits_ok? ? 'green' : nil }
              = variant.visits_with_commas
              \/
              = variant.suggested_visits_with_commas
          .span-1
            %span{ :class => variant.confidence_ok? ? 'green' : nil }
              = variant.pretty_confidence
          .span-1
            %span{ :class => variant.conversion_rate_ok? ? 'green' : nil }
              = variant.pretty_conversion_rate
          .span-1.last x
  - if table_class(test, index)
    %hr.space
    %hr.space

%textarea.hide#tooltip_variant_names
  %b Variant names
  %ul
    %li This field is a comma separated list of variant names.
    %li The first variant is the control.
    %li Variant names must be unique across all tests.

%textarea.hide#tooltip_visits_suggested
  %b Visits
  Number of exposures for this variant.
  %hr.space
  %b Suggested Visits
  Number of exposures necessary to trust that the amount of change between the control and the
  variant is significantly different.

%textarea.hide#tooltip_conf
  %b Confidence
  A variant is statistically better than the control if confidence is greater than or equal to 0.95.

%textarea.hide#tooltip_rate
  %b Conversion Rate
  The percentage of users who converted in decimal form.

%textarea.hide#edit_template
  .span-7.first.edit_container
    .box.clearfix
      %form{ :action => '/tests/:id/update', :method => 'post' }
        %p
          %label{ :for => 'test[name]' } Test name
          %br/
          %input{ :type => 'text', :name => 'test[name]' }
        %p
          %label{ :for => 'test[ticket_url]' } Ticket URL
          %br/
          %input{ :type => 'text', :name => 'test[ticket_url]' }
        %p
          %label{ :for => 'test[variants]' }
            Variant names
            (<a class="tooltip" title="variant_names">more info</a>)
          %br/
          %input{ :type => 'text', :name => 'test[variants]' }
        .buttons
          %input{ :type => 'submit', :value => 'Update', :class => 'submit' }
          %input{ :type => 'submit', :value => 'Cancel', :class => 'cancel' }