%hr.space
%hr.space

.span-16
  %h2{ :class => @tests.empty? ? 'hide' : nil }
    %a{ :href => '#' } New A/B Test
  .span-15.first
    #new_test.box{ :class => @tests.empty? ? nil : 'hide' }
      %form{ :action => '/tests/new', :method => 'post', :class => 'clearfix' }
        .span-7
          %label{ :for => 'test[name]' } Test name
          %br/
          %input{ :type => 'text', :name => 'test[name]' }
        .span-7.last
          %label{ :for => 'test[ticket_url]' } Ticket URL
          %br/
          %input{ :type => 'text', :name => 'test[ticket_url]' }
        .span-10
          %label{ :for => 'test[variants]' }
            Variant names
            (<a class="tooltip" title="#{variant_tooltip}">More info</a>)
          %br/
          %input{ :type => 'text', :name => 'test[variants]' }
        .buttons.span-4.last
          %input{ :type => 'submit', :value => 'Create', :class => 'submit' }
          %input{ :type => 'submit', :value => 'Cancel', :class => 'cancel' }

#search.span-8.last
  - unless @tests.empty?
    %input.span-5{ :type => 'text' }/
    %input{ :type => 'submit', :value => 'Search' }

- if @success || @error
  .span-23.first
    - if @success
      .success= @success
    - if @error
      .error= @error

%hr.space

- @tests.each_with_index do |test, index|
  .table.span-8{ :class => index % 3 == 0 ? 'last' : nil }[test]
    .title.clearfix
      .span-5
        %h3= test.name
      .span-1.edit
        %a{ :href => test.ticket_url } Ticket
      .span-1.edit
        %a{ :href => '#' } Edit
      .span-1.last x
    .rows
      .header.clearfix
        .span-2 Name
        .span-3 Visitors/Suggested
        .span-1 Conf
        .span-1.last Rate
      - test.variants.each do |variant|
        .row.clearfix[variant]
          .span-2
            - if variant.control?
              %strong= variant.name
            - else
              = variant.name
          .span-3= "#{variant.visitors_with_commas}/#{variant.suggested_visitors_with_commas}"
          .span-1= variant.pretty_confidence
          .span-1= variant.pretty_conversion_rate
          .span-1.last x