!!! 1.1
%html
  %head
    = css 'qunit'
    = js 'jquery'
    = js 'a_b'
    = js 'jquery.cookie'
    = js 'json2'
    = js 'qunit'
    = js 'spec'
    %script{ :type => 'text/javascript' }
      :erb
        reset_a_b();
        function reset_a_b() {
          <%= a_b %>
        }
  %body
    %h1{ :id => "qunit-header" } a_b
    %h2{ :id => "qunit-banner" }
    %h2{ :id => "qunit-userAgent" }
    %ol{ :id => "qunit-tests" }