!!! 1.1
%html
  %head
    = css 'qunit'
    = js 'jquery'
    = js 'qunit'
    = js 'qunit.a_b'
    = a_b_script_tag '/js/a_b.js'
    %script{ :type => 'text/javascript' }
      var Tests = {};
      = "Tests.convert = #{@convert_test};"
      = "Tests.visit = #{@visit_test};"
  %body
    %h1{ :id => "qunit-header" } QUnit example
    %h2{ :id => "qunit-banner" }
    %h2{ :id => "qunit-userAgent" }
    %ol{ :id => "qunit-tests" }